@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900;
}

h1,
h2,
h3,
h4,
p,
label,
input {
  @apply text-slate-50;
}

select,
option {
  color: #222831;
  @apply bg-slate-50 border-r-2 max-w-[500px] w-full;
}

input[type=text], input[type=number] {
  color: #222831;
  outline: none;
  border-color: #393e46;
  @apply bg-slate-50 border-2 rounded-md max-w-[75px] px-1 py-0.5;
}

input[type=text]:focus, input[type=number]:focus {
  border-color: #00adb5;
}
