@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900;
}

h1,
h2,
h3,
h4,
p,
label,
input {
  color: #eeeeee;
}

select,
option {
  background-color: #eeeeee;
  color: #222831;
  @apply border-r-2 max-w-[500px] w-full;
}

input {
  background-color: #eeeeee;
  color: #222831;
  outline: none;
  border-color: #393e46;
  @apply border-2 rounded-md max-w-[75px] px-1 py-0.5;
}

input:focus {
  border-color: #00adb5;
}
